{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h5>Add New Team Member</h5>
    <br/>
    <form action="{% url 'add_team_member' team_id %}" method="post">
      {% csrf_token %}       
      <p>NOTE: you can add up to a maximu of five members to a team</p>
        <select class="form-control col-6 col-md-4" id="member-select" name="member-select" required>
            {% for stu in member_choices %}
            <option value='{{ stu.0 }}'>{{ stu.1 }}</option>
            {% endfor %}
        </select>
      <br/>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>

{% endblock %}
