{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid">
  <div class="container">
      <div class="float-right">
        <div class="sidebar-nav">
          {% block sidebar %}
            <nav class="navbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link btn btn-outline-dark nav-font" href="{% url 'edit_course_info' course.id %}">Update Info</a>
                </li>
                <br />
                <!-- <li class="nav-item">
                  <a class="nav-link btn btn-outline-dark nav-font" href="#">Course Notes</a>
                </li> -->
              </ul>
            </nav>
          {% endblock %}
        </div>
      </div>
      <h1>{{ course.course_name }}</h1>
        <table class="table">
            <tr>
              <td>{{ 'Course Number' }}</td>
              {% if course.course_number %}
                <td>{{ course.course_number }}</td>
              {% else %}
                <td>{{ 'information missing' }}</td>
              {% endif %}
            </tr>
            <tr>
              <td>{{ 'Semester' }}</td>
              {% if course.semester %}
                <td>{{ course.semester }}</td>
              {% else %}
                <td>{{ 'information missing' }}</td>
              {%endif%}
            </tr>
            <tr>
              <td>{{ 'Year' }}</td>
              {% if course.year %}
                <td>{{ course.year }}</td>
              {%else%}
                <td>{{ 'information missing' }}</td>
              {%endif%}
            </tr>
            <tr>
                <td>{{ 'Course Description' }}</td>
                {% if course.course_description  %}
                    <td>{{ course.course_description }}</td>
                {% else %}
                    <td>{{ 'information missing' }}</td>
                {% endif %}
            </tr>
        </table>
      <br/>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Teams in course
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="container">
                  <div class="text-justify">
                    <p>{{ 'Number of Female Members: ' }} </p>
                    <p>{{ 'Number of Male Members: ' }} </p>
                  </div>
                  <br>
                  {% if members %}
                    <table class="table table-hover">
                      <caption>List of community members</caption>
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Sex</th>
                          <th scope="col">Role</th>
                        </tr>
                      </thead>

                      <tbody>
                          {% for member in members %}
                            <tr>
                              {% if member.member.member_name %}
                              <td><a href="{% url 'view_member' member.member.id %}">{{ member.member.member_name }}</a></td>
                              {% else %}
                              <td>{{ 'information missing' }}</td>
                              {% endif %}
                              {% if member.member.sex %}
                              <td>{{ member.member.sex }}</td>
                              {% else %}
                              <td>{{ 'information missing' }}</td>
                              {% endif %}
                              {% if member.role.role %}
                              <td>{{ member.role.role }}</td>
                              {% else %}
                              <td>{{ 'information missing' }}</td>
                              {% endif %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  {% else %}
                  <p>There are no teams registered to this course.</p>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container delete-community">
    <p class="btn btn-danger float-right">
      <a class="text-light" href="#">
        {{ 'delete course' }}
      </a>
    </p>
  </div>

{% endblock %}
