{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    <h1>{{ course.course_name }}</h1>
        <table class="table">
            <tr>
              <td>{{ 'Course Number' }}</td>
              {% if course.course_number %}
                <td>{{ course.course_number }}</td>
              {% else %}
                <td>{{ 'information missing' }}</td>
              {% endif %}
            </tr>
              <tr>
                <td>{{ 'Current Semester' }}</td>
                {% if current_offering.semester %}
                  <td>{{ current_offering.semester }}</td>
                {% else %}
                  <td>{{ 'information missing' }}</td>
                {%endif%}
              </tr>
              <tr>
                <td>{{ 'Current Year' }}</td>
                {% if current_offering.year %}
                <td>{{ current_offering.year }}</td>
                {%else%}
                <td>{{ 'information missing' }}</td>
                {%endif%}
              </tr>
              <tr>
                <td>{{ 'Course Description' }}</td>
                {% if course.course_description  %}
                <td>{{ course.course_description }}</td>
                {% else %}
                <td>{{ 'information missing' }}</td>
                {% endif %}
              </tr>
            </table>
            <br/>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Teams in course
                    </button>
            </h5>
          </div>
          
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                <br />
                {% if course_teams %}
                  <table class="table table-hover">
                    <caption>List of course teams</caption>
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Team</th>
                        <th scope="col">Status</th>
                        <th scope="col">Creator</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      {% for team in course_teams %}
                        <tr>
                          {% if team.team_name %}
                            <td>
                                <a href="{{ team.get_absolute_url }}">{{ team.team_name }}</a>
                            </td>
                          {% else %}
                            <td>{{ 'information missing' }}</td>
                          {% endif %}
                          {% if team.team_status %}
                            <td>{{ team.team_status }}</td>
                          {% else %}
                            <td>{{ 'information missing' }}</td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <p>There are no teams for this course offering.</p>
                {% endif %}
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-dark" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Past Course Offering
              </button>
            </h5>
          </div>
          
          <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                <br>
                {% if course_offering %}
                  <table class="table table-hover">
                    <caption>List of past course offerings</caption>
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Semester</th>
                        <th scope="col">Year</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      {% for offering in course_offering %}
                        <tr>
                          {% if offering.semester %}
                            <td>{{ offering.semester }}</td>
                          {% else %}
                            <td>{{ 'information missing' }}</td>
                          {% endif %}
                          {% if offering.year %}
                            <td>{{ offering.year }}</td>
                          {% else %}
                            <td>{{ 'information missing' }}</td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <p>There are no past course offerings.</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <!-- class="btn btn-outline-dark ">{{ 'Edit Team Info' }} -->
  <div class="container">
    <p class="btn btn-info float-left">
      <a class="text-light" href="{% url 'edit_course_info' course.id %}">
        {{ 'Update Course Info' }}      
      </a>
    </p>
    <p class="btn btn-info float-center">
      <a class="text-light" href="{% url 'add_course_offering' course.id %}">
        {{ 'Add Course Offering' }}      
      </a>
    </p>
    <p class="btn btn-danger float-right">
      <a class="text-light" href="#">
        {{ 'delete course' }}
      </a>
    </p>
  </div>

{% endblock %}
