{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h5>Remove Team Member</h5>
    <br/>
    <form action="{% url 'remove_team_member' team_id %}" method="post">
      {% csrf_token %}       
      <p>NOTE: you can have a minimum of one member in a team</p>
        <select class="form-control col-6 col-md-4" id="member" name="member" required>
            <option value=''>{{ '-----' }}</option>
            {% for stu in member_choices %}
            <option value='{{ stu.0 }}'>{{ stu.1 }}</option>
            {% endfor %}
        </select>
      <br/>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>

{% endblock %}
