{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid">
  <div class="container">
      <div class="float-right">
        <div class="sidebar-nav">
          {% block sidebar %}
            <nav class="navbar">
              <ul class="navbar-nav">
               
                <br />
              </ul>
            </nav>
          {% endblock %}
        </div>
      </div>
      <h1>{{ team.team_name }}</h1>
    <br>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#1" data-toggle="tab">{{ 'Summary Information' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#2" data-toggle="tab">{{ 'Members' }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#3" data-toggle="tab">{{ 'Projects' }}</a>
            </li>
        </ul>
        
        <div class="tab-content ">
            <div class="tab-pane active" id="1">
                <br />
                <table class="table table-striped">
                    <tr>
                        <td>{{ 'Course' }}</td>
                        {% if team.course_offering %}
                            <td>{{ team.course_offering }}</td>
                        {% else %}
                            <td>{{ 'information missing' }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'Course Instructor' }}</td>
                        {% if team.course_offering.course.faculty %}
                            <td>{{ 'Prof. '}} {{ team.course_offering.course.faculty }}</td>
                        {% else %}
                            <td>{{ 'information missing' }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'Teaching Assistant' }}</td>
                        {% if team.course_offering.teaching_assistant %}
                            <td>{{ team.course_offering.teaching_assistant }}</td>
                        {% else %}
                            <td>{{ 'course has no assigned teaching assistant' }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'Number of Members' }}</td>
                        {% if team.team_with_member %}
                            <td>{{ team.team_with_member.count }}</td>
                        {% else %}
                            <td>{{ 'information missing' }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{ 'Number of Projects' }}</td>
                        {% if team.team_with_project %}
                            <td>{{ team.team_with_project.count }}</td>
                        {% else %}
                            <td>{{ 'information missing' }}</td>
                        {%endif%}
                    </tr>
                </table>
            </div>

            <!--When members tab is clicked-->
            <div class="tab-pane" id="2">
                {% if team_members %}
                    <table class="table table-hover" id="member-tab">
                        <thead>
                            <tr>
                                <th>{{ 'Name' }}</th>
                                <th>{{ 'Role' }}</th>
                            </tr>
                        </thead>
                            <caption>List of team members</caption>
                            {% for tm in team_members %}
                                <tr>
                                    <td>{{ tm.member }}</td>
                                    {% if tm.team_leader %}
                                        <td>{{ 'Team Leader' }}</td>
                                    {% else %}
                                        <td>{{ 'Member' }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                    </table>
                {% else %}
                    <div class="text-center">
                        <br>
                        <b>{{ 'No team members' }}</b>
                    </div>
                {% endif %}

                {% if membership %}
                    {% if membership.team_leader or membership.team_creator %}
                        {% with team_id=team.id %}
                            <div class="text-center">
                                <br />
                                <a class="btn btn-info btn-outline-dark" href="{% url 'add_team_member' team.id %}">Add New Member</a>
                                <a class="btn btn-outline-danger" href="{% url 'remove_team_member' team.id %}">Remove Member</a>
                            </div>
                        {% endwith %}
                    {% endif %}
                {% endif %}

            </div>

            <!--When projects tab is clicked-->
            <div class="tab-pane" id="3">
                {% if team_projects %}
                    <table class="table table-hover" id="projects-tab">
                        <thead>
                            <tr>
                                <th>{{ 'Name' }}</th>
                                <th>{{ 'Deadline' }}</th>
                                <th>{{ 'Description' }}</th>
                            </tr>
                        </thead>
                        <caption>{{ 'List of team projects' }}</caption>
                            {% for proj in team_projects %}
                                <tr>
                                    <td>
                                        <a href="{{ proj.get_absolute_url }}">
                                            {{ proj.project_name }}
                                        </a>
                                    </td>
                                    <td>{{ proj.deadline }}</td>
                                    <td>{{ proj.description }}</td>
                                </tr>
                            {% endfor %}
                    </table>

                {% else %}
                    <div class="text-center">
                        <br>
                        <b>{{ 'No existing team Projects' }}</b>
                    </div>
                {% endif %}

                {% if membership %}
                    {% with team_id=team.id %}
                        <div class="text-center">
                            <br>
                            <a class="btn btn-outline-dark" href="{% url 'add_project' team.id %}">Add New Project</a>
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
    <br/>
    </div>
  </div>
<br/>
{% if membership %}
    {% if membership.team_leader or membership.team_creator %}
        <div class="container edit-btn">
            <p class="btn btn-info float-left">
                <a class="text-light" href="{% url 'edit_team_info' team.id %}">
                    {{ 'Edit Team Info' }}      
                </a>
            </p>
        </div>
    {% endif %}
    <div class="container">
        <p class="btn btn-danger float-right">
            <a class="text-light" href="#">
                {{ 'Leave team' }}
            </a>
        </p>
    </div>
{% endif %}

{% endblock %}
