{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <div class="card" style="width: 18rem;">
      <br/>
      <h6 class="text-center">
        {% if user_info.first_name %}
          Hi {{ user_info.first_name }}
        {% else %}
          {{ 'Hi there!!' }}
        {% endif %}
      </h6>
      <div class="card-body">
        <p class="card-text">Email: {{ user_info.email }}</p>
        <p class="card-text">
          If you are a faculty member, please contact your system admin to get access to manage your course.
          <br />
          <br />
          If you are a student, please contact your class instructor for approval to join the course you registered with.
        </p>
        <br />
        <p>You can still update your account information with the appropriate buttons below.</p>
        <p>
          <a class="btn-sm btn-primary" href="#">
            update info
          </a>
        </p>
        <p>
          <a class="btn-sm" href="#">
            change password
          </a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
