<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Team and Project Tracking System</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add additional CSS in static file -->
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}              {# Adds date-picker required JS and CSS #}
  {% load unfriendly_tags %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/help-page.css' %}">
  <script type="text/javascript" src='{% static "js/baseJs.js"%}'></script>
  <script type="text/javascript" src='{% static "js/permissions.js" %}'></script>

</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User Roles
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'roles_list' %}">List of Roles</a>
              <a class="dropdown-item" href="{% url 'assign_role' %}">Assign Role</a>
              <a class="dropdown-item" href="{% url 'unassign_role' %}">Unassign Role</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Courses
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'course_list' %}">Course List</a>
              <a class="dropdown-item" href="{% url 'add_course' %}">Add Course</a>
              <a class="dropdown-item" href="#">Archive Course</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teams
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'teams_list' %}">List of Teams</a>
                <a class="dropdown-item" href="{% url 'create_new_team' %}">Create New Team</a>
                <a class="dropdown-item" href="#">Join a Team</a>
              </div>
            </li>
      </ul>
      
      <p>
        <a class="navbar-brand" href="{% url 'help_page' %}">Help Page</a>
      </p>
      {% if user.is_authenticated %}
        <p>
          <a class="btn btn-sm btn-outline-light" href="{% url 'logout' %}">
           Logout
          </a>
        </p>
     {% else %}
      <p>
        <a class="btn btn-sm btn-outline-light" href="{% url 'login' %}?next={{request.path}}">Login</a>
      </p>
     {% endif %}

    </div>
  </nav>
  <br/>
  {% include 'messages.html' %}
  {% block content %}{% endblock %}
  </div>
</body>
<footer class="footer footer-top">
	<div id="footer">&copy; team-project-tracking{% now 'Y' %}</div>
</footer>
</html>
